.main{
    width: 100%;
    background-color: rgb(126, 191, 210);
    padding: auto;
}


.imagem-carrossel {
    object-fit: cover;
    object-position: 0 40% ;
    height: 500px; 
}

.botao-cor-especial{
    color: white;
    background-color: orange;
    border-radius:none;
}
